{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022",
    "baseUrl": ".",
    "paths": {
      "@/*": [
        "./src/*"
      ],
      "@tests/*": [
        "./tests/*"
      ]
    }
  },
  "module": {
    "type": "es6"
  }
}